:root{
    --green:#b5ffa9;
    --dgreen:#58c147;
}


.short-hr{
    width: 142px;
    border: 2px solid var(--dgreen);
    opacity: 1;
    margin: 0;
}

.flex-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.fw-1{
    font-weight: 100;
}
.fw-2{
    font-weight: 200;
}
.fw-3{
    font-weight: 300;
}
.fw-4{
    font-weight: 400;
}
.fw-5{
    font-weight: 500;
}
.fw-6{
    font-weight: 600;
}
.fw-7{
    font-weight: 700;
}
.fw-8{
    font-weight: 800;
}



